<%- include("partials/header.ejs") %>

  <section class="post-details">
    <h1><%= post.title %></h1>
  <p><%= post.content %></p>
  <a href="/">Back to Home</a>
  </section>

<%- include("partials/footer.ejs") %>
